body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    max-width: 420px;
    border-radius: 7px;
    padding: 16px 25px;
    height: 260px;
    transition: height 0.3s ease

}
.container.active {
    height: 470px;
}

header h1 {
    font-size: 21px;
    font-weight: 500;
}

header p {
    margin-top: 5px;
    color: #474747;
    font-size: 16px;
}
.container .form {
    margin: 20px 0px 25px;
}

.form :where(input , button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px ;
}
.form input{
    font-size: 18px;
    padding: 0px 17px;
    border: 1px solid #999;
}

.form button{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background-color: #3498db;
}

.container .qr-code {
    display: flex;
    padding: 33px 0;
    opacity: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    pointer-events: none;
    height: 200px;
}
.container .qr-code img {
    width: 150px;
}

.container.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}